<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Saramin Demo Server</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<h2>Saramin Demo Server</h2>
	<a href="/asc">연관추천데모 보러가기</a>
	<br/>
	<br/>
	
	<h3>개인화 추천 데모</h3>
	
	
	<form method="GET" action="/psn">
		<input type="text" name="memIdx" class="recInput"/>
		<input type="submit" value="SEARCH" id="search"/>
	</form>
	<table>
		<tr>
			<th width="100px">mem_idx</th>
			<th width="100px">rec_idx</th>
			<th width="200px">company_name</th>
			<th width="250px">recruit_title</th>
		</tr>
		<tr th:each="recdata : ${recList}">
			<td th:text="${recdata.memIdx}"></td>
			<td th:text="${recdata.recIdx}"></td>
			<td th:text="${recdata.companyNm}"></td>
			<td th:text="${recdata.title}"></td>
		</tr>
	</table>
</body>
</html>